<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veeresh's Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style1.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="../images/logo1.png" alt="" width="50px"> Portfolio</a>
        <nav class="navbar">
            <a href="./index.html" style="--i:1">Home</a>
            <a href="./templates/about.html" style="--i:2">About</a>
            <a href="skills.html" style="--i:3">Skills</a>
            <a href="projects.html" style="--i:4">Projects</a>
            <a href="" style="--i:5">Contact</a>
        </nav>
    </header>
    
    <section  class="home" id="about">
        <div class="home-content">
        <h2>About Me</h2><br>
        <p>Hello! I'm Veeresh, a passionate web developer with a love for crafting beautiful and functional websites. With a background in BTech in Computer science, I specialize in front-end development, full-stack solutions.</p>
        <br>
        <p>With over 2 years of experience in the industry, I have worked on a variety of projects ranging from small business websites to large-scale applications.<br> My expertise includes:</p><br>
        
        <ul>
            <li><span class="shape"> &#9658</span>  <b>Front-end Technologies:</b> HTML, CSS, JavaScript, React, Vue.js</li>
            <li><span class="shape"> &#9658</span> <b>Back-end Technologies:</b> Node.js, Express, PHP, Python</li>
            <li><span class="shape"> &#9658</span> <b>Database Management:</b> MongoDB, MySQL, PostgreSQL</li>
            <li><span class="shape"> &#9658</span> <b>Version Control:</b> Git, GitHub, GitLab</li>
            <li><span class="shape"> &#9658</span> <b>Design Tools:</b> Adobe XD, Figma, Sketch</li>
        </ul>
        
        <p>I'm passionate about staying up-to-date with the latest trends and technologies in web development. I enjoy solving complex problems and am always eager to learn and grow in this ever-evolving field.</p>
        <br>
        <p>When I'm not coding, you can find me [personal interests or hobbies, e.g., exploring the outdoors, playing video games, or experimenting with new recipes].</p>
        <br>
        <p>Feel free to <a href="#contact">contact me</a> if you have any projects or opportunities you'd like to discuss!</p>
    </div>
    <div class="home-img">
        <img src="C:\Users\vlal1\Downloads\IMG_20240216_235853.jpg" alt="" width="400px" height="450px">
    </div>
    </section>
    

    <script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>
