<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veeresh's Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style1.css">
    <link rel="stylesheet" href="../css/skills.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="../images/logo1.png" alt="" width="50px"> Portfolio</a>
        <nav class="navbar">
            <a href="./index.html" style="--i:1">Home</a>
            <a href="./templates/about.html" style="--i:2">About</a>
            <a href="skills.html" style="--i:3">Skills</a>
            <a href="projects.html" style="--i:4">Projects</a>
            <a href="" style="--i:5">Contact</a>
        </nav>
    </header>
    <section>
      <div>
        <h3>Programming Skills</h3>
        <div class="tskills">
          <ul>
            <li class="skill-item">
              <img src="../images/htmllogo.png" alt="" width="30px">
              <span>HTML</span>
            </li>
            <li class="skill-item">
              <img src="../images/csslogo.png" alt="" width="30px">
              <span>CSS</span>
            </li>
            <li class="skill-item">
              <img src="../images/jslogo.png" alt="" width="30px">
              <span>JAVASCRIPT</span>
            </li>
            <li class="skill-item">
                <img src="../images/pylogo.png" alt="" width="30px">
                <span>PYTHON</span>
              </li>
          </ul>
        </div>
      </div>
      <div>
        <h3>Frameworks</h3>
        <ul>
            <li class="skill-item">
              <img src="../images/djangologo.png" alt="" width="30px">
              <span>Django</span>
            </li>
            <li class="skill-item">
              <img src="../images/bootlogo.png" alt="" width="30px">
              <span>BootStrap</span>
            </li>
            <li class="skill-item">
              <img src="../images/nodelogo.png" alt="" width="30px">
              <span>Node.js</span>
            </li>
            <li class="skill-item">
                <img src="" alt="" width="30px">
                <span></span>
              </li>
          </ul>
      </div>
      <div>
        <h3>DataBases</h3>
        <ul>
            <li class="skill-item">
              <img src="../images/mysqllogo.png" alt="" width="30px">
              <span>MySql</span>
            </li>
            <li class="skill-item">
              <img src="../images/mongodblogo.png" alt="" width="30px">
              <span>MongoDb</span>
            </li>
            
          </ul>
      </div>
      <div>
        <h3>version control</h3>
        <ul>
            <li class="skill-item">
              <img src="../images/gitlogo.png" alt="" width="30px">
              <span>Git</span>
            </li>
            <li class="skill-item">
              <img src="../images/githublogo.png" alt="" width="30px">
              <span>GitHub</span>
            </li>
          </ul>
      </div>
</section>
    
         
         
         
          <script src="script.js"></script>
      </body>
    </html>


    <script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>
